/* Podstawowe resetowanie stylów */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  height: 100vh;
  background: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", "sans-serif";
}

.singleComponent {
  width: 280px;
  height: 450px;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  box-shadow: 10px 10px 10px hsl(218, 44%, 22%, 5%);
}

.imgQrCodeComponent {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.headerText {
  font-size: 21px;
  font-weight: 700;
  width: 245px;
  text-align: center;
}

.paragraphText {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 245px;
  text-align: center;
}
